<html>
  <head>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script>
      window.APP_CONFIG = {
        show_processing: <%=show_processing%>
      };
    </script>
  </head>
  <body>
    <div class="container my-5 d-flex flex-column" style="min-height: 90vh;">
      <div class="row flex-grow-1">
        <div class="col-md-4 d-flex flex-column tab">
          <h3>Pending Orders</h3>
          <div class="row g-2 overflow-auto" id="pending" style="max-height: 75vh;">
          </div>
        </div>

        <div class="col-md-4 d-flex flex-column" id="processing-tab" hidden>
          <h3>Processing Orders</h3>
          <div class="row g-2 overflow-auto" id="processing" style="max-height: 75vh;">
          </div>
        </div>

        <div class="col-md-4 d-flex flex-column tab">
          <h3>Completed Orders</h3>
          <div class="row g-2 overflow-auto" id="completed" style="max-height: 75vh;">
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col text-center d-grid gap-2 d-md-flex justify-content-md-center">
          <button class="btn btn-primary flex-fill" style="min-width: 150px;" onclick="addOrder()">Add New Order</button>
          <button class="btn btn-success flex-fill" style="min-width: 150px;" onclick="addVIPOrder()">Add VIP Order</button>
          <button class="btn btn-info flex-fill" style="min-width: 150px;" onclick="addCookingBot()">Add Cooking Bot</button>
          <button class="btn btn-danger flex-fill" style="min-width: 150px;" onclick="removeCookingBot()">Remove Cooking Bot</button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <script src="scripts/LinkedListQueue.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>